body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 27% 0 27%;
  font-family: Arial
}

p {
  font-family: Georgia;
  line-height: 150%;
}

h1 {
  margin: 16px 0 16px 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

#root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2, h3 {
  cursor: default;
  max-width: fit-content;
}

h2:hover, h3:hover {
  background-color: yellow;
}

#twitter {
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin: 0 0 10px 0;
}

.no-tip {
  cursor: text;
}
.no-tip:hover {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10%;
  }
}
